.disInBlock {
    display: inline-block;
    vertical-align: middle;
}

.menu-hide {
    display: none;
}

.l {
    float: left;
}

.page_wrapper .exam_process_wrapper {
    overflow: unset !important;
}

.user-handle {
    float: right;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #3A3E51;
}

.user-handle .handle-arrow-bottom {
    position: unset !important;
}

.user-handle span {
    color: #3A3E51;
    font-size: 12px !important;
}

.common-title {
    font-size: 16px !important;
}

.user-handle-menu {
    width: 118px;
    position: absolute;
    right: -42px;
    top: 28px;
    font-size: 12px;
    background: #fff;
    text-align: left;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(58, 62, 81, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px 0;
}

.user-handle-menu p {
    text-align: left;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0 13px;
    line-height: 29px;
    height: 29px;
}

.user-handle-menu p span:nth-of-type(1) {
    margin-right: 8px;
}

.user-handle-menu p:hover {
    background: #F1F3F8;
}

.user-handle-menu p a {
    color: #3A3E51;
}

.user-handle-menu p span:nth-child(1) {
    margin-right: 5px;
}

.page_item_main {
    height: 143px;
    padding: 0 30px;
    border-radius: 4px;
}

.page_item {
    height: 143px;
    overflow: unset !important;
}

.page_item_information {
    overflow: hidden;
    width: 73%;
}

.page_item_information li {
    float: left;
    font-size: 12px;
    color: #B4B6BD;
}

.page_item_information li:nth-child(odd) {
    width: 45%;
}

.page_item_information li:nth-child(even) {
    width: 55%;
}

.page_item_time {
    margin: 10px 0 !important;
}

.examer_total {
    bottom: 11px;
    right: 32px;
}

.page-rect-icon {
    position: absolute;
    left: 0;
    top: 14px;
    height: 30px;
}

.course-box .page-item-course,
.course-box .course-item {
    height: 121px;
}

.course-box .course-rect {
    position: absolute;
    left: 0;
    top: 14px;
    height: 30px;
}

.course-box .user-handle-menu {
    top: 23px;
}

.course-box .user-handle-menu p {
    padding-left: 22px;
}

.task-box .page-item-task,
.task-box .task-item {
    height: 94px;
}

.see_all a {
    color: #3A3E51;
}

#collapseTask,
#collapseCourse,
#collapseExaming {
    overflow: hidden;
}
