.form-control {
    height: 24px !important;
}

.search-row {
    margin: 10px;
}

.btn-blue-norad {
    color: #fff !important;
    border: 0 !important;
}

.btn-remove, .dropdown-toggle {
    position: inherit !important;
    float: none !important;
    top: 0 !important;
    vertical-align: middle;
    height: 24px;
    border-radius: 4px !important;
    font-size: 12px;
    width: 60px;
}

#grid-data-footer, .search-box .form-control {
    background: #fff;
}

#export_msg {
    position: absolute;
    top: 40%;
    left: 50%;
    display: none;
    z-index: 3;
}
#exportPaperModal .modal-dialog{width: 500px;}
#exportPaperModal .modal-footer{text-align: center;}


a.btn.btn-default.dropdown-toggle {
    width: 90px;
    height: 36px;
}
i.icon-a_btn_derivation.btn-icon-left {
    line-height: 33px;
}

button.btn.btn-default.btn-remove {
    display: inline-block;
    width: 90px;
    height: 36px;
}

/******* 按考试查询批改 *********/
#changeDept,#addexitBtn,#forceSubmitBtn {
    width: 110px;
    height: 36px;
}

button.btn-default.btn-remove,
#changeDept,#addexitBtn,#forceSubmitBtn {
    padding: 10px 20px;
    vertical-align: middle;
}

/******按钮禁用变灰*******/
button.btn.btn-default.addsexit.disable{
    color: #B4B6BD;
    border-color: #B4B6BD;
}
button.btn.btn-default.addsexit.disable:hover{
    border-color: #B4B6BD !important;
}
.btn.disabled,
a.disabled {
    width: 16px;
    padding: 0;
    margin-bottom: 7px;
    color: #B4B6BD;
}
a.disabled {
    color: #B4B6BD!important;
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
/**结束**/
#addexitBtn i.icon-a_operate_retake {
    vertical-align: inherit;
}
.btn .btn-icon-left {
    line-height: 13px;
    vertical-align: middle;
}
#forceSubmitBtn i.icon-a_btn_batch{
    font-size: 12px;
}
.search-section .search-section-normal .search-section-area {
    width: 324px;
    height: 40px;
    padding: 0 50px 0 23px;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
    font-size: 12px;
    color: #D8D8D8;
    font-weight: 200;
}

/****开关****/
.body-content .cont-r .nav-tabs{
    position: relative;
}

.body-content .cont-r .nav-tabs .islook{
    font-size: 12px;
    color: #6D717C;
    position: absolute;
    right: 75px;
    top: 12px;
}

#islook_box {
    width: 81px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
}
#islook_box [class|=switch] {
    vertical-align: middle;
}
[class|=switch] {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 26px;
    border-radius: 16px;
    line-height: 32px;
}
.switch-off {
    border: 1px solid #dfdfdf;
    transition: border 0.4s, box-shadow 0.4s;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    cursor: pointer;
}
.switch-on {
    transition: border 0.4s, box-shadow 0.2s, background-color 1.2s;
    cursor: pointer;
    border-color: #1A8CFE;
    box-shadow: #1A8CFE 0px 0px 0px 16px inset;
    background: #1A8CFE;
}

.switch-off .slider {
    left: 0;
    transition: background-color 0.4s, left 0.2s;
}
.switch-on .slider {
    top: 1px;
    left: 20px;
    transition: background-color 0.4s, left 0.2s;
}
.popover {
    width: 500px;
}
.slider {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    left: 0;
    top: 0;
}
#islook_tips{
    color: #9B9B9B;
    font-size: 14px;
    vertical-align: middle;
}

/********** 页码 ***********/
.pagination>li>a, .pagination>li>span {
    margin: 0 2.5px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 12px;
    color: #999999;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    border: 1px solid #1A8CFE;
    background: #1A8DFF;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #E0E2E3;
    border: 1px solid #F2F2F2;

}
.bootgrid-footer .infoBar + .col-sm-6 {
    text-align: right;
    padding-right: 20px;
    padding-top: 1px;
}
/********* 小提示 **********/
.viewFrameWork-statusbar .status-right .status-item.item-notification .message-count {
    position: absolute;
    font-size: 12px;
    border-radius: 100px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    top: 17px;
    left: 10px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: #FF9E17;
    border: 1px solid #FFFFFF;
}
.viewFrameWork-statusbar .status-right .status-item.item-notification .message-count:hover {
    background: #FE8545;
}
/****** 补考弹窗 *****/
.add_show .bootstrap-dialog-footer-buttons button:first-child {
    background: #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    border-color: #F2F2F2;
    height: 34px;
    width: 100px;
}
.add_show .bootstrap-dialog-footer-buttons button:first-child:hover{
    background: #F2F2F2 !important;
    border-color: #F2F2F2 !important;
}
.add_show .bootstrap-dialog-footer-buttons button:last-child {
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    border-color: #1A8CFE;
    background: #1A8CFE;
    border-radius: 4px;
    height: 34px;
    width: 100px;
    margin-left: 14px;
}
.add_show .bootstrap-dialog-footer-buttons button:last-child:hover{
    background: #1A8CFE !important;
    border-color: #1A8CFE !important;
    margin-left: 14px;
}

.add_show .modal-content .modal-header {
    font-size: 20px;
    color: #3A3E51;
    height: 26px;
    padding: 0;
    margin-top: 50px;
}
.add_show .modal-content .modal-header .close{
    display: none;
}
.add_show .modal-content .modal-body{
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    margin-top: 18px;
}
/******* 结束 ********/


button.btn.btn-default.dropdown-toggle {
    display: inline-block;
    width: 110px;
    height: 34px;
}
tbody .text-left .markedExam{
    color: #ff9300;
}
tbody .text-left .markedExam:hover {
    color: #ff5d00;
}


.tab-content .tab-pane .tab-wrap1 .rqm-table1 {
    padding: 0 30px;
    height: 138px;
}
.tab-content .tab-pane .tab-wrap1 .rqm-table1 .table tbody .curr td {
    padding: 23px 0 10px 10px;
    height: 68px;
    border-bottom: 0;
    color: #3A3E51;
}

.tab-content .tab-pane .tab-wrap1 .rqm-table1 .table tbody tr th {
    height: 69px;
    width: 14%;
    font-size: 14px;
    color: #6D717C;
    margin-top: 10px;
    vertical-align: middle;
    padding-bottom: 0;
    padding-left: 10px;
}
.tab-wrap1 .rqm-table1 .table>tbody>tr>td {
    background-color: #fff;
}
.table>tbody>tr>td:first-child {
    border-radius: 0;
    border-left: 0;
}
.table>tbody>tr>td:last-child{
    border-radius: 0;
    border-right: 0;
}
.devide-line{
    width: 100%;
    height: 20px;
    background: #EEF3F8;
}
.viewFrameWork-body .body-addition .body-top-left .body-nav {
    margin-bottom: 10px;
    padding-right: 0px;
    position: relative;
}

.viewFrameWork-body .body-wrapper {
    padding: 0;
}
table.table.admin-table.table-style1 {
    margin-bottom: -5px;
    background-color: #fff;
    border-spacing: 0;
    height: 137px;
}
.table-style1>tbody>tr:hover>td{
    border-top: 1px solid #F6F7FA;
}
.table>tbody>tr:hover>td:first-child{
    border-left: 0;
}
.table>tbody>tr:hover>td:last-child{
    border-right: 0;
}
table#grid-data {
    padding: 0 15px;
    border-collapse: collapse;
    font-size: 14px;
    padding-bottom: 90px;
    margin-bottom: 0;
}

table#grid-data tr{
    border-bottom: 1px solid #EBEEF6;
    height: 48px;
}

table#grid-data tr td{
    background-color: #fff;
    border: none;
    padding: 0;
}
table#grid-data thead{
    color: #3A3E51;
}
table#grid-data tbody{
    color: #6D717C;
}
table#grid-data tbody tr td{
    line-height: 48px;
}
/*table#grid-data thead span.select-box,*/
/*table#grid-data tbody span.select-box{*/
/*    height: 14px;*/
/*    width: 14px;*/
/*}*/
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
    padding-left: 0;
}

    /*************样式分割***************/

.viewFrameWork .viewFrameWork-body{
    padding: 20px 30px;
}
.cont-r{
    background-color: #EEF3F8;
    border-bottom: 0;
}

.nav-tabs>li {
    float: left;
    width: 50%;
    margin-bottom: -1px;
    text-align: center;
    height: 40px;
}

.body-content .cont-r .nav-tabs li {
    padding: 0;
    height: 40px;
    width: 192px;
}

.body-content .cont-r .nav-tabs li a {
    font-size: 16px;
    text-align: center;
    line-height: 39px;
    height: 40px;
    padding: 0;
    color: #B4B6BD;
}

.body-content .cont-r .nav-tabs li.active {
    background: #fff;
    width: 280px;
}

.body-content .cont-r .nav-tabs>li.active>a{
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #3A3E51;
    padding-left: 10px;
    line-height: 39px;
}

.btn-size{
    width:78px;
    height:29px;
    padding-left:13px;
    margin-left:10px;
    padding-top:9px;
    font-size: 12px;
    color: #1A8CFE;
    line-height: 12px;
}
/*重置时间表格*/
.table.table-reset-time>thead>tr>th, .table.table-reset-time>tbody>tr>td{vertical-align: middle;padding: 10px 8px;}
.table.table-reset-time>thead>tr>th{width: 25%;}
.table.table-reset-time>tbody>tr>td input.setting-time{display: inline-block;width: 136px;font-size: 14px;color: #666666;border: none;}
.table.table-reset-time>tbody>tr>td .set-end-time{background-color: #ffffff;border: 1px solid #D8D8D8;border-radius: 4px;width: 176px;height: 28px;padding: 2px 4px 0px 4px;}
.table.table-reset-time>tbody>tr>td .set-end-time .icon-blue{color: #1A8CFE}
/*modal-reset-time*/
.modal-dialog.modal-reset-time{top: 50px;}
.modal-dialog.modal-reset-time .modal-content{padding: 0 18px 0 18px;}
.modal-dialog.modal-reset-time .modal-content .modal-header{margin-right: -18px; margin-left: -18px;border-bottom: none}
.modal-dialog.modal-reset-time .modal-content .modal-header .close{font-size: 14px;}
.modal-dialog.modal-reset-time .modal-content .modal-header .modal-title{font-family: MicrosoftYaHei;font-size: 22px;color: #333333;padding-top: 30px;}
.modal-dialog.modal-reset-time .modal-body .first-step{padding-top: 58px;}
/*.modal-dialog.modal-reset-time .modal-body .first-step .table-reset-time{margin-bottom: 135px;}*/
.modal-dialog.modal-reset-time .modal-body .first-step .tip{color: #FF2735;text-align: center;margin-bottom: 15px;}

.modal-dialog.modal-reset-time .modal-body .second-step{padding-top: 50px; }
.modal-dialog.modal-reset-time .modal-body .second-step .title{font-size: 20px;color: #666;margin-bottom: 12px;}
.modal-dialog.modal-reset-time .modal-body .second-step .confirm-time{font-family: MicrosoftYaHei;font-size: 24px;color: #1A8CFE;margin-bottom: 57px;}
.modal-dialog.modal-reset-time .modal-footer{padding: 14px 0 32px; border-top: hidden;}
.modal-dialog.modal-reset-time .modal-footer .btn-base{width: 100px; height: 34px; line-height: 8px;}
.modal-dialog.modal-reset-time .modal-footer .btn-gray{background: #F2F2F2;border-color:#F2F2F2;color: #666666;}
/*修改考试认证状态*/
.modal-dialog.modal-verify-status .modal-content{
    padding: 0;
}
.modal-dialog.modal-verify-status .modal-header{
    height: 50px;
    border-bottom: none;
}
.modal-dialog.modal-verify-status .modal-body{
    text-align: center;
    padding: 0 20px 32px;
}
.modal-dialog.modal-verify-status .modal-body .title{
    font-size: 22px;
    color: #666666;
    margin-bottom: 18px;
}
.modal-dialog.modal-verify-status .modal-body .title .verify{
    color: #1A8CFE;
    padding: 0 3px;
}
.modal-dialog.modal-verify-status .modal-body .content{
    font-size: 14px;
    color: #999999;
    line-height: 21px;
}
.modal-dialog.modal-verify-status .modal-body .btn-row{
    padding-top: 32px;
}
.modal-dialog.modal-verify-status .modal-body .btn-row .btn{
    width: 100px;
    height: 34px;
    font-size: 14px;
}
.modal-dialog.modal-verify-status .modal-body .btn-row .btn +.btn{
    margin-left: 10px;
}
.modal-dialog.modal-verify-status .modal-body .btn-row .btn-gray{
    background: #F2F2F2;
    border-color: #F2F2F2;
    color: #666666;
}


.modal .modal-footer{
    text-align: center;
}
#grid-data-footer .row .infoBar .actions .btn-group:last-child .page-dropdown-menu {
    top: -235px;
}

/*********** 下拉样式 ************/
.page-dropdown-menu {
    position: absolute;
    min-width: 110px;
    -webkit-box-shadow: 0 0 4px 0 rgba(58,62,81,0.10);
    border: none;
    padding: 0;
    margin-top: -5px;
    color: #3A3E51;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(58,62,81,0.10);
    border-radius: 4px;
}
.page-dropdown-menu li {
    height: 35px;
    line-height: 35px;
}
.page-dropdown-menu li:hover {
    height: 35px;
}
.page-dropdown-menu>li>a {
    display: block;
    padding: 0px 13px;
    clear: both;
    height: 35px;
    font-weight: normal;
    line-height: 35px;
    white-space: nowrap;
    font-size: 14px;
    color: #3A3E51;
}
.page-dropdown-menu>li>a:hover{
    background: #F1F3F8;
    color: #3A3E51;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #1A8CFE;
    background-color: #fff !important;
    border-color: #1A8CFE !important;
}
.btn-default:hover {
    color: #1A8CFE;
    background-color: #fff !important;
    border-color: #1A8CFE !important;
}
/************* 结束 ****************/

div#grid-data-footer {
    width: 100%;
    height: 54px;
    padding-top: 10px;
    background: #fff;
    margin: 0;
    box-shadow: 0 -2px 4px 0 rgba(153,153,153,0.10);
    border-radius: 0 0 4px 4px;
}

/********** 覆盖样式  选中后复选框变大 *************/
/*.bootgrid-table th.select-cell .select-box:checked + span.select-box .icons8-checked-checkbox, .bootgrid-table tr.active td.select-cell span.select-box .icons8-checked-checkbox {
    display: inline;
    position: absolute;
    font-size: 100%;
    color: #1A8CFE;
    left: -2px;
    top: -2px;
    line-height: 1;
}*/
.bootgrid-table th.select-cell, .bootgrid-table td.select-cell {
    text-align: center;
    width: 45px !important;
    padding: 6px 0;
}
/** 隐藏账号左边的复选框 **/
/*#grid-data th.select-cell span.select-box{
    display: none;
}*/
/*导出考试*/
.export-style-active{
    border-color: #1A8CFE !important;
}
.font-active{
    color:#1A8CFE !important;
}
#exportModal .modal-export{
    width: 440px;
}
#exportModal .modal-export .modal-content .modal-header{
    border-bottom: 0;
    height: 50px;
    line-height: 50px;
}
#exportModal .modal-export .modal-content .modal-header .close{
    position: absolute;
    right: 15px;
    top: 10px;
}
#exportModal .modal-export .modal-content .modal-body .modal-title{
    font-family: MicrosoftYaHei;
    font-size: 22px;
    color: #666666;
    text-align: center;
}
#exportModal .modal-export .export-prompt{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #1A8CFE;
    padding-top: 20px;
    text-align: center;
}
#exportModal .choose-style{
    overflow: hidden;
    padding: 18px 30px 0 30px;
}
#exportModal .choose-style .prompt-wrapper{
    clear: both;
}
#exportModal .choose-style .prompt-wrapper .export-style-prompt{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 20px;
}
#exportModal .choose-style .export-style{
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 84px;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    cursor: pointer;
}
#exportModal .choose-style .export-style .export-title{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #999999;
    margin-top: -12px;
}
#exportModal .choose-style .export-style>p{
    margin: 16px 0 14px 0;
}
#exportModal .choose-style .export-style>p>i{
    font-size: 30px;
    color: #999999;
}
#exportModal .choose-style .all-result{
    float: left;
}
#exportModal .choose-style .high-score{
    float: right;
}
#exportModal .export-footer{
    text-align: center;
    margin-bottom: 33px;
    margin-top: 15px;
}
.export-footer .export-btn{
    display: inline-block;
    width: 100px;
    height: 34px;
    background: #1A8CFE;
    color: #fff;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
}
.icon-a_close{
    font-size: 14px;
}

#subForm .search-menu li:last-child .search-menu-content input{
    display: inline-block;
    width: 131px;
    height: 30px;
    border: 1px solid #d8d8d8;
    color: #9b9b9b;
    border-radius: 4px;
    background: #f6f6f6;
}
#subForm .search-menu li .search-menu-content .to{
    font-size: 12px;
    color: #494949
}
#subForm .search-menu li .search-menu-content .score-left,
#subForm .search-menu li .search-menu-content .score-right {
    display: inline-block;
    width: 131px;
    height: 30px;
    border: 1px solid #d8d8d8;
    color: #9b9b9b;
    border-radius: 4px;
    background: #f6f6f6;
}
/*bootstrap-dialog 模态框样式*/
.bootstrap-dialog .modal-header{
    border-bottom: 0;
}
.bootstrap-dialog .modal-footer{
    border-top: 0;
    margin: 22px 0;
}

/*选择部门不换行*/
#selDepLink {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*按钮位置*/
.customer-btn-group {
    vertical-align: baseline;
}

/*tab切换边框*/
.rqm-table1 {
    border: 1px solid #DEDEDE;
    border-top: 0;
}
#selTypeLink {
    padding: 10px 20px;
    vertical-align: middle;
    width: 110px;
    height: 36px;
}
/*更多-容器*/
.el-dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    margin: 5px 0;
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    transform-origin: center top;
    z-index: 2001;
}
.el-dropdown-menu, .el-menu--collapse .el-submenu .el-menu {
    z-index: 10;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
/*更多-选项*/
.ksx-dropdown.check .el-dropdown-menu__item {
    position: relative;
}
.el-dropdown-menu__item {
    list-style: none;
    line-height: 36px;
    padding: 0 20px;
    margin: 0;
    font-size: 14px;
    color: #606266;
    cursor: pointer;
    outline: 0;
    text-align: center;
}
/*更多-框的小角*/
.el-popper[x-placement^=bottom] .popper__arrow {
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: #ebeef5;
}
.el-popper .popper__arrow {
    border-width: 6px;
    -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
    filter: drop-shadow(0 2px 12px rgba(0, 0, 0, .03));
}
.el-popper .popper__arrow, .el-popper .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style:solid;
}

/*修正changeDept的样式，修改部门并入'更多'后，原样式（使用了id选择器）影响了新样式。*/
#changeDept{
    padding:0px 20px;
    height:36px;
}
.export-dialog .close{
    display: none;
}
.export-dialog .modal-header{
    height: 70px;
    font-size: 20px;
    color: #3A3E51;
    line-height: normal;
    padding: 50px 0 0;
}
.export-dialog .bootstrap-dialog-header{
    line-height: normal;
}
.export-dialog .bootstrap-dialog-message{
    margin-top: 18px;
    font-size: 14px;
    color: #999999;
}
.export-dialog .export-btn-no,
.export-dialog .export-btn-yes{
    width: 100px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}
.export-dialog .export-btn-no{
    background: #F2F2F2;
    color: #666666;
}
.export-dialog .export-btn-yes{
    background: #1A8CFE;
    color: #FFFFFF;
    margin-left: 14px!important;
}
/*#people-exportPaperModal,*/
/*#answer-exportPaperModal,*/
/*#paper-exportPaperModal{*/
    /*margin-top: 100px;*/
/*}*/
#result-exportPaperModal .modal-content,
#result-exportPaperModal .modal-dialog,
#people-exportPaperModal .modal-content,
#people-exportPaperModal .modal-dialog,
#paper-exportPaperModal .modal-content,
#paper-exportPaperModal .modal-dialog,
#answer-exportPaperModal .modal-content,
#answer-exportPaperModal .modal-dialog{
    width: 440px;
    border: none;
}
#result-exportPaperModal .modal-header,
#people-exportPaperModal .modal-header,
#paper-exportPaperModal .modal-header,
#answer-exportPaperModal .modal-header{
    border-bottom: none;
    line-height: 1;
    padding: 50px 0 0 0;
    height: 70px;
}
#result-exportPaperModal .modal-title,
#people-exportPaperModal .modal-title,
#paper-exportPaperModal .modal-title,
#answer-exportPaperModal .modal-title{
    font-size: 20px;
}
#result-exportPaperModal .modal-body,
#people-exportPaperModal .modal-body,
#paper-exportPaperModal .modal-body,
#answer-exportPaperModal .modal-body{
    margin-top: 18px;
    font-size: 14px;
    color: #999999;
}
#result-exportPaperModal .modal-footer,
#people-exportPaperModal .modal-footer,
#paper-exportPaperModal .modal-footer,
#answer-exportPaperModal .modal-footer{
    border-top: none;
    padding: 32px;
}
#result-exportPaperModal .btn-default,
#result-exportPaperModal .btn-default:hover,
#people-exportPaperModal .btn-default,
#people-exportPaperModal .btn-default:hover,
#paper-exportPaperModal .btn-default,
#paper-exportPaperModal .btn-default:hover,
#answer-exportPaperModal .btn-default,
#answer-exportPaperModal .btn-default:hover{
    background: #F2F2F2!important;
    border-radius: 4px;
    border-color: #F2F2F2!important;
    width: 100px;
    height: 34px;
    font-size: 14px;
    color: #666666;
}
/*删除*/
.batch-del .modal-header{
    height: 50px;
}
.batch-del .close{
    display: none;
}
.batch-del .bootstrap-dialog-message{
    font-size: 20px;
    color: #3A3E51;
}
.batch-del .batch-del-yes,
.batch-del .batch-del-no{
    border-radius: 4px;
    width: 100px;
    height: 34px;
    font-size: 14px;
}
.batch-del .batch-del-yes{
    background: #FF0000;
    color: #FFFFFF;
    margin-left: 14px!important;
}
.batch-del .batch-del-no{
    background: #F2F2F2;
    color: #666666;
}
/*批量交卷*/
.batch-submit .modal-content,
.batch-submit .modal-dialog{
    width: 440px;
}
.batch-submit .close{
    display: none;
}
.batch-submit .modal-header{
    height: 70px;
    padding: 50px 0 0;
    font-size: 20px;
    color: #3A3E51;
    line-height: normal;
}
.batch-submit .bootstrap-dialog-header{
    line-height: normal;
}
.batch-submit .modal-body{
    margin-top: 18px;
    font-size: 14px;
    color: #999999;
}
.batch-submit .batch-submit-no,
.batch-submit .batch-submit-yes{
    width: 100px;
    height: 34px;
    border-radius: 4px;
}
.batch-submit .batch-submit-no{
    color: #666666;
    background: #F2F2F2;
}
.batch-submit .batch-submit-yes{
    background: #1A8CFE;
    color: #FFFFFF;
    margin-left: 14px!important;
}
#deptModal .modal-dialog,
#people-exportPaperModal .modal-dialog,
#paper-exportPaperModal .modal-dialog,
#answer-exportPaperModal .modal-dialog,
#exportModal .modal-dialog,
#result-exportPaperModal .modal-dialog,
#exportFileModal .modal-dialog,
#exportingFileModal .modal-dialog{
    margin-top: 15%!important;
}
#deptModal .modal-dialog{
    margin-top: 8%!important;
}

.el-dropdown-menu.el-popper.ksx-dropdown li{
    width: unset!important;
}

/*导出附件链接*/
#exportFileModal .content{
    text-align: left;
    width: 270px;
    display: inline-block;
}

#exportFileModal .btn-row button{
    margin:0 15px;
}














