<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.root.dao.adminMapper">
	<insert id="addAdmin" parameterType="Admin">
		insert into admin_table values(#{adminId},#{adminName},#{adminPassword})
	</insert>
	
	<delete id="deleteAdmin" parameterType="Admin">
		delete from admin_table where admin_id = #{adminId}
	</delete>
	
	<update id="updateAdmin" parameterType="Map">
		update admin_table
		<set>
			<if test="adminName!=null and adminName!=''">
				admin_name = #{adminName},
			</if>
			<if test="adminPassword!=null and adminPassword!=''">
				admin_password = #{adminPassword},
			</if>
		</set>
		where admin_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryAdmin" parameterType="Admin" resultType="Admin">
		select *
		from admin_table
		<where>
			<if test="adminId!=null and adminId!=''">
				and admin_id = #{adminId}
			</if>
			<if test="adminName!=null and adminName!=''">
				and admin_name = #{adminName}
			</if>
			<if test="adminPassword!=null and adminPassword!=''">
				and admin_name = #{adminName}
			</if>
		</where>
	</select>
</mapper>