<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.neusoft.root.dao.AdminMapper">
	<!-- 管理管理员 -->
	<insert id="addAdmin" parameterType="Admin">
		insert into admin_table values(#{adminId},#{adminName},#{adminPassword})
	</insert>
	
	<delete id="deleteAdmin" parameterType="Admin">
		delete from admin_table where admin_id = #{adminId}
	</delete>
	
	<update id="updateAdmin" parameterType="Map">
		update admin_table
		<set>
			<if test="adminName!=null and adminName!=''">
				admin_name = #{adminName},
			</if>
			<if test="adminPassword!=null and adminPassword!=''">
				admin_password = #{adminPassword},
			</if>
		</set>
		where admin_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryAdmin" parameterType="Admin" resultMap="MyAdmin">
		select *
		from admin_table
		<where>
			<if test="adminId!=null and adminId!=''">
				and admin_id = #{adminId}
			</if>
			<if test="adminPassword!=null and adminPassword!=''">
				and admin_password = #{adminPassword}
			</if>
		</where>
	</select>
	
	<resultMap type="Admin" id="MyAdmin">
		<id column="admin_id" property="adminId"/>
		<result column="admin_name" property="adminName"/>
		<result column="admin_password" property="adminPassword"/>
	</resultMap>
	
	<!-- 管理学生-->
	<insert id="addStudent" parameterType="Student">
		insert into student_table values(#{studentId},#{studentName},#{studentPassword},#{studentAcademy},#{studentMajor},#{studentSchool})
	</insert>
	
	<delete id="deleteStudent" parameterType="Student">
		delete from student_table where student_id = #{studentId}
	</delete>
	
	<update id="updateStudent" parameterType="Map">
		update student_table
		<set>
			<if test="studentName!=null and studentName!=''">
				student_name = #{studentName},
			</if>
			<if test="studentPassword!=null and studentPassword!=''">
				student_password = #{studentPassword},
			</if>
			<if test="studentAcademy!=null and studentAcademy!=''">
				student_academy = #{studentAcademy},
			</if>
			<if test="studentMajor!=null and studentMajor!=''">
				student_major = #{studentMajor},
			</if>
			<if test="studentSchool!=null and studentSchool!=''">
				student_school = #{studentSchool},
			</if>
		</set>
		where student_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryStudent" parameterType="Student" resultMap="MyStudent">
		select *
		from student_table
		<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="studentName!=null and studentName!=''">
				and student_name = #{studentName}
			</if>
			<if test="studentPassword!=null and studentPassword!=''">
				and student_password = #{studentPassword}
			</if>
			<if test="studentAcademy!=null and studentAcademy!=''">
				and student_academy = #{studentAcademy}
			</if>
			<if test="studentMajor!=null and studentMajor!=''">
				and student_academy = #{studentAcademy}
			</if>
			<if test="studentSchool!=null and studentSchool!=''">
				and student_school = #{studentSchool}
			</if>
		</where>
	</select>
	
	<resultMap type="Student" id="MyStudent">
		<id column="student_id" property="studentId"/>
		<result column="student_name" property="studentName"/>
		<result column="student_password" property="studentPassword"/>
		<result column="student_academy" property="studentAcademy"/>
		<result column="student_major" property="studentMajor"/>
		<result column="student_school" property="studentSchool"/>		
	</resultMap>
	
	<!-- 管理班级 -->
	<insert id="addClass" parameterType="Class1">
		insert into class_table values(#{classId},#{className},#{classSeats})
	</insert>
	
	<delete id="deleteClass" parameterType="Class1">
		delete from class_table where class_id = #{classId}
	</delete>
	
	<update id="updateClass" parameterType="Map">
		update class_table
		<set>
			<if test="className!=null and className!=''">
				class_name = #{className},
			</if>
			<if test="classSeats!=null and classSeats!=''">
				class_seats = #{classSeats},
			</if>
		</set>
		where class_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryClass" parameterType="Class1" resultMap="MyClass1">
		select *
		from class_table
		<where>
			<if test="classId!=null and classId!=''">
				and class_id = #{classId}
			</if>
			<if test="className!=null and className!=''">
				and class_name = #{className}
			</if>
			<if test="classSeats!=null and classSeats!=''">
				and class_seats = #{classSeats}
			</if>
		</where>
	</select>
	
	<resultMap type="Class1" id="MyClass1">
		<id column="class_id" property="classId"/>
		<result column="class_name" property="className"/>
		<result column="class_seats" property="classSeats"/>	
	</resultMap>
	
	<!-- 管理老师 -->
	<insert id="addTeacher" parameterType="Teacher">
		insert into teacher_table 
		values(#{teacherId},#{teacherName},#{teacherPassword},#{teacherAcademy},#{teacherMajor})
	</insert>
	
	<delete id="deleteTeacher" parameterType="Teacher">
		delete from teacher_table where teacher_id = #{teacherId}
	</delete>
	
	<update id="updateTeacher" parameterType="Map">
		update teacher_table
		<set>
			<if test="teacherName!=null and teacherName!=''">
				teacher_name = #{teacherName},
			</if>
			<if test="teacherPassword!=null and teacherPassword!=''">
				teacher_password = #{teacherPassword},
			</if>
			<if test="teacherAcademy!=null and teacherAcademy!=''">
				teacher_academy = #{teacherAcademy},
			</if>
			<if test="teacherMajor!=null and teacherMajor!=''">
				teacher_major = #{teacherMajor},
			</if>
			<if test="teacherSchool!=null and teacherSchool!=''">
				teacher_school = #{teacherSchool},
			</if>
		</set>
		where teacher_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryTeacher" parameterType="Teacher" resultMap="MyTeacher">
		select *
		from teacher_table
		<where>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
			<if test="teacherName!=null and teacherName!=''">
				and teacher_name = #{teacherName}
			</if>
			<if test="teacherPassword!=null and teacherPassword!=''">
				and teacher_password = #{teacherPassword}
			</if>
			<if test="teacherAcademy!=null and teacherAcademy!=''">
				and teacher_academy = #{teacherAcademy}
			</if>
			<if test="teacherMajor!=null and teacherMajor!=''">
				and teacher_major = #{teacherMajor}
			</if>
			<if test="teacherSchool!=null and teacherSchool!=''">
				and teacher_school = #{teacherSchool}
			</if>
		</where>
	</select>
	
	<resultMap type="Teacher" id="MyTeacher">
		<id column="teacher_id" property="teacherId"/>
		<result column="teacher_name" property="teacherName"/>
		<result column="teacher_password" property="teacherPassword"/>
		<result column="teacher_academy" property="teacherAcademy"/>
		<result column="teacher_major" property="teacherMajor"/>
		<result column="teacher_school" property="teacherSchool"/>
	</resultMap>
	
	<!-- 管理课程 -->
	<insert id="addCource" parameterType="Course">
		insert into course_table(course_name,course_type,course_begin,course_end,course_remark,course_status)
		values(#{courseName},#{courseType},#{courseBegin},#{courseEnd},#{courseRemark},#{courseStatus})
	</insert>
	
	<delete id="deleteCourse" parameterType="Course">
		delete from course_table where course_id = #{courseId}
	</delete>
	
	<update id="updateCourse" parameterType="Map">
		update course_table
		<set>
			<if test="courseName!=null and courseName!=''">
				course_name = #{courseName},
			</if>
			<if test="courseType!=null and courseType!=''">
				course_type = #{courseType},
			</if>
			<if test="courseBegin!=null and courseBegin!=''">
				course_begin = #{courseBegin},
			</if>
			<if test="courseEnd!=null and courseEnd!=''">
				course_end = #{courseEnd},
			</if>
			<if test="courseRemark!=null and courseRemark!=''">
				course_remark = #{courseRemark},
			</if>
			<if test="courseStatus!=null and courseStatus!=''">
				course_status = #{courseStatus},
			</if>
		</set>
		where course_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryCourse" parameterType="Course" resultMap="MyCourse">
		select *
		from course_table
		<where>
			<if test="courseId!=null and courseId!=''">
				and course_id = #{courseId}
			</if>
			<if test="courseName!=null and courseName!=''">
				and course_name = #{courseName}
			</if>
			<if test="courseName!=null and courseName!=''">
				and course_type = #{courseType}
			</if>
		</where>
	</select>
	
	<resultMap type="Course" id="MyCourse">
		<id column="course_id" property="courseId"/>
		<result column="course_name" property="courseName"/>
		<result column="course_type" property="courseType"/>
		<result column="course_begin" property="courseBegin"/>
		<result column="course_end" property="courseEnd"/>
		<result column="course_remark" property="courseRemark"/>
		<result column="course_status" property="courseStatus"/>
	</resultMap>
	
	<!-- 管理日志 -->
	<insert id="addMyLog" parameterType="Mylog">
		insert into log_table(op_id,op_date,op_type,op_msg,op_page) 
		values(#{opId},#{opDate},#{opType},#{opMsg},#{opPage})
	</insert>
	
	<delete id="deleteMyLog" parameterType="Mylog">
		delete from log_table where log_id = #{logId}
	</delete>
	
	<update id="updateMyLog" parameterType="Map">
		update log_table
		<set>
			<if test="opId!=null and opId!=''">
				op_id = #{opId},
			</if>
			<if test="opDate!=null and opDate!=''">
				op_date = #{opDate},
			</if>
			<if test="opType!=null and opType!=''">
				op_type = #{opType},
			</if>
			<if test="opMsg!=null and opMsg!=''">
				op_msg = #{opMsg},
			</if>
			<if test="opResult!=null and opResult!=''">
				op_result = #{opResult},
			</if>
		</set>
		where log_id in
		<foreach collection="ids" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="queryMyLog" parameterType="MyLog" resultMap="MyLog1">
		select *
		from log_table
		<where>
			<if test="logId!=null and logId!=''">
				and log_id = #{logId}
			</if>
			<if test="opId!=null and opId!=''">
				and op_id = #{opId}
			</if>
			<if test="opDate!=null and opDate!=''">
				and op_date = #{opDate}
			</if>
			<if test="opType!=null and opType!=''">
				and op_type = #{opType}
			</if>
			<if test="opMsg!=null and opMsg!=''">
				and op_msg = #{opMsg}
			</if>
			<if test="opPage!=null and opPage!=''">
				and op_page = #{opPage}
			</if>
		</where>
	</select>
	
	<resultMap type="MyLog" id="MyLog1">
		<id column="log_id" property="logId"/>
		<result column="op_id" property="opId"/>
		<result column="op_date" property="opDate"/>
		<result column="op_type" property="opType"/>
		<result column="op_msg" property="opMsg"/>
		<result column="op_page" property="opPage"/>
	</resultMap>
	
	<!-- 学生安排记录表 -->
	<insert id="addManagestudent" parameterType="Managestudent">
		insert into managestudent_table 
		values(#{classId},#{studentId},#{courseId},#{examName},#{examBegindate},#{examEnddate})
	</insert>
	
	<delete id="deleteManagestudent" parameterType="Managestudent">
		delete from managestudent_table where 
		student_id = #{studentId} and course_id = #{courseId}
	</delete>
	
	<update id="updateManagestudent" parameterType="Managestudent">
		update managestudent_table
		<set>
			<if test="classId!=null and classId!=''">
				class_id = #{classId},
			</if>
			<if test="examName!=null and examName!=''">
				exam_name = #{examName},
			</if>
			<if test="examBegindate!=null and examBegindate!=''">
				exam_begindate = #{examBegindate},
			</if>
			<if test="examEnddate!=null and examEnddate!=''">
				exam_enddate = #{examEnddate},
			</if>
		</set>
		where student_id = #{studentId} and course_id = #{courseId}
	</update>
	
	<select id="queryManagestudent" parameterType="Managestudent" resultMap="MyManagestudent">
		select *
		from managestudent_table
		<where>
			<if test="classId!=null and classId!=''">
				and class_id = #{classId}
			</if>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="courseId!=null and courseId!=''">
				and course_id = #{courseId}
			</if>
		</where>
	</select>
	
	<resultMap type="Managestudent" id="MyManagestudent">
		<result column="class_id" property="classId" />
		<result column="student_id" property="studentId" />
		<result column="course_id" property="courseId" />
		<result column="exam_name" property="examName" />
		<result column="exam_begindate" property="examBegindate" />
		<result column="exam_enddate" property="examEnddate" />
	</resultMap>
	
	<!-- 管理老师 -->
	<insert id="addManageteacher" parameterType="Manageteacher">
		insert into manageteacher_table 
		values(#{classId},#{teacherId},#{courseId},#{examName},#{examBegindate},#{examEnddate})
	</insert>
	
	<delete id="deleteManageteacher" parameterType="Manageteacher">
		delete from manageteacher_table where 
		teacher_id = #{teacherId} and course_id = #{courseId}
	</delete>
	
	<update id="updateManageteacher" parameterType="Manageteacher">
		update manageteacher_table
		<set>
			<if test="classId!=null and classId!=''">
				class_id = #{classId},
			</if>
			<if test="examName!=null and examName!=''">
				exam_name = #{examName},
			</if>
			<if test="examBegindate!=null and examBegindate!=''">
				exam_begindate = #{examBegindate},
			</if>
			<if test="examEnddate!=null and examEnddate!=''">
				exam_enddate = #{examEnddate},
			</if>
		</set>
		where teacher_id = #{teacherId} and course_id = #{courseId}
	</update>
	
	<select id="queryManageteacher" parameterType="Manageteacher" resultMap="MyManageteacher">
		select *
		from manageteacher_table
		<where>
			<if test="classId!=null and classId!=''">
				and class_id = #{classId}
			</if>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
			<if test="courseId!=null and courseId!=''">
				and course_id = #{courseId}
			</if>
		</where>
	</select>
	
	<resultMap type="Manageteacher" id="MyManageteacher">
		<result column="class_id" property="classId" />
		<result column="teacher_id" property="teacherId" />
		<result column="course_id" property="courseId" />
		<result column="exam_name" property="examName" />
		<result column="exam_begindate" property="examBegindate" />
		<result column="exam_enddate" property="examEnddate" />
	</resultMap>
	
	<!-- 消息管理 -->
	<insert id="addMessage" parameterType="Message">
		insert into message_table(msg_date,sender_id,target_id,msg_type,msg_context,msg_role)
		values(#{msgDate},#{senderId},#{targetId},#{msgType},#{msgContext},#{msgRole})
	</insert>
	
	<delete id="deleteMessage" parameterType="Message">
		delete from message_table where msg_id = #{msgId}
	</delete>
	
	<select id="queryMessage" parameterType="Message" resultMap="MyMessage">
		select *
		from message_table
		<where>
			<if test="senderId!=null and senderId!=''">
				and sender_id = #{senderId}
			</if>
			<if test="targetId!=null and targetId!=''">
				and target_id = #{targetId}
			</if>
			<if test="msgRole!=null and msgRole!=''">
				and msg_role = #{msgRole}
			</if>
			<if test="msgType!=null and msgType!=''">
				and msg_type = #{msgType}
			</if>
		</where>
	</select>
	
	<resultMap type="Message" id="MyMessage">
		<id column="msg_id" property="msgId"/>
		<result column="msg_date" property="msgDate"/>
		<result column="sender_id" property="senderId"/>
		<result column="target_id" property="targetId"/>
		<result column="msg_type" property="msgType"/>
		<result column="msg_context" property="msgContext"/>
		<result column="msg_role" property="msgRole"/>
	</resultMap>
	
	<!-- 学生答题结果管理 -->	
	<select id="queryResult" parameterType="RawResult" resultMap="MyRawResult">
		select *
		from result_table
		<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="paperId!=null and paperId!=''">
				and paper_id = #{paperId}
			</if>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
			<if test="checked!=null and checked!=''">
				and checked = #{checked}
			</if>
		</where>
	</select>
	
	<resultMap type="RawResult" id="MyRawResult">
		<result column="student_id" property="studentId"/>
		<result column="paper_id" property="paperId"/>
		<result column="teacher_id" property="teacherId"/>
		<result column="singlechoice_result" property="singlechoiceResult"/>
		<result column="multichoice_result" property="multichoiceResult"/>
		<result column="fill_result" property="fillResult"/>
		<result column="subjective_result" property="subjectiveResult"/>
		<result column="submit_date" property="submitDate"/>
		<result column="checked" property="checked"/>
	</resultMap>
	
	<!-- 论坛管理 -->
	<insert id="addForum" parameterType="Forum">
		insert into forum_table(post_date,sender_id,post_tag,post_outline,post_context)
		values(#{postDate},#{senderId},#{postTag},#{postOutline},#{postContext})
	</insert>
	
	<delete id="deleteForum" parameterType="Forum">
		delete from forum_table 
		<where>
			<if test="senderId!=null and senderId!=''">
				and sender_id = #{senderId}
			</if>
			<if test="postTag!=null and postTag!=''">
				and post_tag = #{postTag}
			</if>
			<if test="postOutline!=null and postOutline!=''">
				and post_outline = #{postOutline}
			</if>
		</where>
	</delete>
	
	<select id="queryForum" parameterType="Forum" resultMap="MyForum">
		select *
		from forum_table
		<where>
			<if test="postId!=null and postId!=''">
				and post_id = #{postId}
			</if>
			<if test="senderId!=null and senderId!=''">
				and sender_id = #{senderId}
			</if>
			<if test="postTag!=null and postTag!=''">
				and post_tag = #{postTag}
			</if>
			<if test="postOutline!=null and postOutline!=''">
				and post_outline = #{postOutline}
			</if>
		</where>
	</select>
	
	<resultMap type="Forum" id="MyForum">
		<id column="post_id" property="postId"/>
		<result column="post_date" property="postDate"/>
		<result column="sender_id" property="senderId"/>
		<result column="post_tag" property="postTag"/>
		<result column="post_outline" property="postOutline"/>
		<result column="post_context" property="postContext"/>
	</resultMap>
	
	<!-- 老师批阅结果管理 -->
	<select id="queryCheck" parameterType="RawCheck" resultMap="MyRawCheck">
		select *
		from check_table
		<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="paperId!=null and paperId!=''">
				and paper_id = #{paperId}
			</if>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
		</where>
	</select>
	
	<resultMap type="RawCheck" id="MyRawCheck">
		<result column="student_id" property="studentId"/>
		<result column="paper_id" property="paperId"/>
		<result column="teacher_id" property="teacherId"/>
		<result column="singlechoice_score" property="singlechoiceScore"/>
		<result column="multichoice_score" property="multichoiceScore"/>
		<result column="fill_score" property="fillScore"/>
		<result column="subjective_score" property="subjectiveScore"/>
		<result column="sum_score" property="sumScore"/>
		<result column="check_date" property="checkDate"/>
	</resultMap>
</mapper>