<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.root.dao.StudentMapper">
	<!-- 查询考试班级时间课程 -->
	<select id="queryManagestudent" parameterType="Managestudent" resultMap="myManagestudent">
	select *
		from managestudent_table
	<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
		</where>
	</select>
	<resultMap type="Managestudent" id="myManagestudent">
		<id column="student_id" property="studentId"/>
		<result column="class_id" property="classId"/>
		<result column="course_id" property="courseId"/>
		<result column="exam_date" property="examDate"/>
	</resultMap>
	
	<!-- 论坛帖子增删查 -->
	<insert id="addForum" parameterType="Forum">
		insert into admin_table values(#{adminId},#{adminName},#{adminPassword})
	</insert>
	
	<delete id="deleteAdmin" parameterType="Admin">
		delete from admin_table where admin_id = #{adminId}
	</delete>
</mapper>