<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.root.dao.TeacherMapper">
	<!-- 批阅试卷的增删改查 -->
	<insert id="addCheck" parameterType="RawCheck">
		insert into check_table
		values(#{studentId},#{paperId},#{teacherId},
		#{singlechoiceScore},#{multichoiceScore},#{fillScore},
		#{subjectiveScore},#{sumScore},#{checkDate})
	</insert>

	<delete id="deleteCheck" parameterType="RawCheck">
		delete from check_table
		where student_id = #{studentId} and paper_id = #{paperId} and
		teacher_id = #{teacherId}
	</delete>

	<update id="updateCheck" parameterType="RawCheck">
		update check_table
		<set>
			<if test="singlechoiceScore!=null and singlechoiceScore!=''">
				singlechoice_score = #{singlechoiceScore},
			</if>
			<if test="multichoiceScore!=null and multichoiceScore!=''">
				multichoice_score = #{multichoiceScore},
			</if>
			<if test="fillScore!=null and fillScore!=''">
				fill_score = #{fillScore},
			</if>
			<if test="subjectiveScore!=null and subjectiveScore!=''">
				subjective_score = #{subjectiveScore},
			</if>
			<if test="sumScore!=null and sumScore!=''">
				sum_score = #{sumScore},
			</if>
			<if test="checkDate!=null and checkDate!=''">
				check_date = #{checkDate},
			</if>
		</set>
		where student_id = #{studentId} and paper_id = #{paperId} and
		teacher_id = #{teacherId}
	</update>

	<select id="queryCheck" parameterType="RawCheck" resultMap="MyRawCheck">
		select *
		from check_table
		<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="paperId!=null and paperId!=''">
				and paper_id = #{paperId}
			</if>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
		</where>
	</select>
	
	<resultMap type="RawCheck" id="MyRawCheck">
		<result column="student_id" property="studentId" />
		<result column="paper_id" property="paperId" />
		<result column="teacher_id" property="teacherId" />
		<result column="singlechoice_score" property="singlechoiceScore" />
		<result column="multichoice_score" property="multichoiceScore" />
		<result column="fill_score" property="fillScore" />
		<result column="subjective_score" property="subjectiveScore" />
		<result column="sum_score" property="sumScore" />
		<result column="check_date" property="checkDate" />
	</resultMap>

	<!-- 对老师课程进行查询 -->
	<select id="queryCourseteacher" parameterType="Courseteacher"
		resultMap="MyCourseteacher">
		select * from courseteacher_table where teacher_id = #{teacherId}
	</select>
	
	<resultMap type="Courseteacher" id="MyCourseteacher">
		<result column="course_id" property="courseId" />
		<result column="teacher_id" property="teacherId" />
	</resultMap>

	<!-- 对学生课程进行查询 -->
	<select id="queryCoursestudent" parameterType="Coursestudent"
		resultMap="myCoursestudent">
		select *
		from coursestudent_table
		<where>
			<if test="courseId!=null and courseId!=''">
				and course_id = #{courseId}
			</if>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
		</where>
	</select>
	<resultMap type="Coursestudent" id="myCoursestudent">
		<result column="course_id" property="courseId" />
		<result column="student_id" property="studentId" />
	</resultMap>

	<!-- 论坛的增删查 -->
	<!-- 论坛管理 -->
	<insert id="addForum" parameterType="Forum">
		insert into forum_table(post_date,sender_id,post_tag,post_outline,post_context)
		values(#{postDate},#{senderId},#{postTag},#{postOutline},#{postContext})
	</insert>

	<delete id="deleteForum" parameterType="Forum">
		delete from forum_table where post_id = #{postId} and sender_id = #{senderId}
	</delete>

	<select id="queryForum" parameterType="Forum" resultMap="MyForum">
		select *
		from forum_table
		<where>
			<if test="postId!=null and postId!=''">
				and post_id = #{postId}
			</if>
			<if test="senderId!=null and senderId!=''">
				and sender_id = #{senderId}
			</if>
			<if test="postTag!=null and postTag!=''">
				and post_tag = #{postTag}
			</if>
			<if test="postOutline!=null and postOutline!=''">
				and post_outline = #{postOutline}
			</if>
		</where>
	</select>

	<resultMap type="Forum" id="MyForum">
		<id column="post_id" property="postId" />
		<result column="post_date" property="postDate" />
		<result column="sender_id" property="senderId" />
		<result column="post_tag" property="postTag" />
		<result column="post_outline" property="postOutline" />
		<result column="post_context" property="postContext" />
	</resultMap>

	<!-- 题库管理 -->
	<insert id="addRawItem" parameterType="RawItem">
		insert into item_table(creater_id,item_date,item_coursetype,item_type,item_index,
		item_question,item_option,item_answer,item_picture,item_score,item_parse)
		values(#{createrId},#{itemDate},#{itemCoursetype},#{itemType},
		#{itemIndex},#{itemQuestion},#{itemOption},#{itemAnswer},#{itemPicture},#{itemScore},#{itemParse})
	</insert>
	
	<delete id="deleteRawItem" parameterType="RawItem">
		delete from item_table where item_id = #{itemId}
	</delete>

	<update id="updateRawItem" parameterType="Map">
		update item_table
		<set>
			<if test="createrId!=null and createrId!=''">
				creater_id = #{createrId},
			</if>
			<if test="itemDate!=null and itemDate!=''">
				item_date = #{itemDate},
			</if>
			<if test="itemCoursetype!=null and itemCoursetype!=''">
				item_coursetype = #{itemCoursetype},
			</if>
			<if test="itemType!=null and itemType!=''">
				item_type = #{itemType},
			</if>
			<if test="itemIndex!=null and itemIndex!=''">
				item_index = #{itemIndex},
			</if>
			<if test="itemQuestion!=null and itemQuestion!=''">
				item_question = #{itemQuestion},
			</if>
			<if test="itemOption!=null and itemOption!=''">
				item_option = #{itemOption},
			</if>
			<if test="itemAnswer!=null and itemAnswer!=''">
				item_answer = #{itemAnswer},
			</if>
			<if test="itemPicture!=null and itemPicture!=''">
				item_picture = #{itemPicture},
			</if>
			<if test="itemScore!=null and itemScore!=''">
				item_score = #{itemScore},
			</if>
			<if test="itemParse!=null and itemParse!=''">
				item_parse = #{itemParse},
			</if>
		</set>
		where item_id = #{itemId}
	</update>
	
	<select id="queryRawItem" parameterType="RawItem" resultMap="MyRawItem">
		select *
		from item_table
		<where>
			<if test="itemId!=null and itemId!=''">
				and item_id = #{itemId}
			</if>
			<if test="createrId!=null and createrId!=''">
				and creater_id = #{createrId}
			</if>
			<if test="itemCoursetype!=null and itemCoursetype!=''">
				and item_coursetype = #{itemCoursetype}
			</if>
			<if test="itemType!=null and itemType!=''">
				and item_type = #{itemType}
			</if>
			<if test="itemIndex!=null and itemIndex!=''">
				and item_index = #{itemIndex}
			</if>
			<if test="itemQuestion!=null and itemQuestion!=''">
				and item_question = #{itemQuestion}
			</if>
			<if test="itemOption!=null and itemOption!=''">
				and item_option = #{itemOption}
			</if>
			<if test="itemAnswer!=null and itemAnswer!=''">
				and item_answer = #{itemAnswer}
			</if>
		</where>
	</select>
	
	<resultMap type="RawItem" id="MyRawItem">
		<id column="item_id" property="itemId" />
		<id column="creater_id" property="createrId" />
		<result column="item_date" property="itemDate" />
		<result column="item_coursetype" property="itemCoursetype" />
		<result column="item_type" property="itemType" />
		<result column="item_index" property="itemIndex" />
		<result column="item_question" property="itemQuestion" />
		<result column="item_option" property="itemOption" />
		<result column="item_answer" property="itemAnswer" />
		<result column="item_picture" property="itemPicture" />
		<result column="item_score" property="itemScore" />
		<result column="item_parse" property="itemParse" />
	</resultMap>

	<!-- 管理日志 -->
	<insert id="addMyLog" parameterType="MyLog">
		insert into log_table(op_id,op_date,op_type,op_msg,op_page)
		values(#{opId},#{opDate},#{opType},#{opMsg},#{opPage})
	</insert>

	<select id="queryMyLog" parameterType="MyLog" resultMap="MyLog1">
		select * from log_table where op_id = #{opId}
	</select>

	<resultMap type="MyLog" id="MyLog1">
		<id column="log_id" property="logId" />
		<result column="op_id" property="opId" />
		<result column="op_date" property="opDate" />
		<result column="op_type" property="opType" />
		<result column="op_msg" property="opMsg" />
		<result column="op_page" property="opPage" />
	</resultMap>


	<!-- 消息管理 -->
	<insert id="addMessage" parameterType="Message">
		insert into message_table(msg_date,sender_id,target_id,msg_type,msg_context,msg_role)
		values(#{msgDate},#{senderId},#{targetId},#{msgType},#{msgContext},#{msgRole})
	</insert>
	
	<delete id="deleteMessage" parameterType="Message">
		delete from message_table where msg_id = #{msgId} 
	</delete>

	<select id="queryMessage" parameterType="Message" resultMap="MyMessage">
		select *
		from message_table
		<where>
			<if test="msgId!=null and msgId!=''">
				and msg_id = #{msgId}
			</if>
			<if test="senderId!=null and senderId!=''">
				and sender_id = #{senderId}
			</if>
			<if test="targetId!=null and targetId!=''">
				and target_id = #{targetId}
			</if>
			<if test="msgRole!=null and msgRole!=''">
				and msg_role = #{msgRole}
			</if>
			<if test="msgType!=null and msgType!=''">
				and msg_type = #{msgType}
			</if>
		</where>
	</select>
	<resultMap type="Message" id="MyMessage">
		<id column="msg_id" property="msgId" />
		<result column="msg_date" property="msgDate" />
		<result column="sender_id" property="senderId" />
		<result column="target_id" property="targetId" />
		<result column="msg_type" property="msgType" />
		<result column="msg_context" property="msgContext" />
		<result column="msg_role" property="msgRole" />
	</resultMap>

	<!-- 试卷管理 -->
	<insert id="addRawPaper" parameterType="RawPaper">
		insert into paper_table (paper_name,creater_id,create_date,paper_type,paper_index,singlechoice_question,multichoice_question,fill_question,subjective_question,paper_score,paper_secrecy,paper_remark)
		values(#{paperName},#{createrId},#{createDate},#{paperType},#{paperIndex},#{singlechoiceQuestion},#{multichoiceQuestion},#{fillQuestion},#{subjectiveQuestion},#{paperScore},#{paperSecrecy},#{paperRemark})
	</insert>
	
	<delete id="deleteRawPaper" parameterType="RawPaper">
		delete from paper_table where paper_id = #{paperId}
	</delete>

	<update id="updateRawPaper" parameterType="RawPaper">
		update paper_table
		<set>
			<if test="paperName!=null and paperName!=''">
				paper_name = #{paperName},
			</if>
			<if test="createrId!=null and createrId!=''">
				creater_id = #{createrId},
			</if>
			<if test="createDate!=null and createDate!=''">
				create_date = #{createDate},
			</if>
			<if test="paperType!=null and paperType!=''">
				paper_type = #{paperType},
			</if>
			<if test="paperIndex!=null and paperIndex!=''">
				paper_index = #{paperIndex},
			</if>
			<if test="singlechoiceQuestion!=null and singlechoiceQuestion!=''">
				singlechoice_question = #{singlechoiceQuestion},
			</if>
			<if test="multichoiceQuestion!=null and multichoiceQuestion!=''">
				multichoice_question = #{multichoiceQuestion},
			</if>
			<if test="fillQuestion!=null and fillQuestion!=''">
				fill_question = #{fillQuestion},
			</if>
			<if test="subjectiveQuestion!=null and subjectiveQuestion!=''">
				subjective_question = #{subjectiveQuestion},
			</if>
			<if test="paperScore!=null and paperScore!=''">
				paper_score = #{paperScore},
			</if>
			<if test="paperSecrecy!=null and paperSecrecy!=''">
				paper_secrecy = #{paperSecrecy},
			</if>
			<if test="paperRemark!=null and paperRemark!=''">
				paper_remark = #{paperRemark},
			</if>
		</set>
		where paper_id = #{paperId}
	</update>
	
	<select id="queryRawPaper" parameterType="RawPaper" resultMap="MyRawPaper">
		select *
		from paper_table
		<where>
			<if test="paperId!=null and paperId!=''">
				and paper_id = #{paperId}
			</if>
			<if test="paperName!=null and paperName!=''">
				and paper_name = #{paperName}
			</if>
			<if test="createrId!=null and createrId!=''">
				and creater_id = #{createrId}
			</if>
			<if test="paperType!=null and paperType!=''">
				and paper_type = #{paperType}
			</if>
			<if test="paperSecrecy!=null and paperSecrecy!=''">
				and paper_secrecy = #{paperSecrecy}
			</if>
			<if test="paperRemark!=null and paperRemark!=''">
				and paper_remark = #{paperRemark}
			</if>
		</where>
	</select>
	<resultMap type="RawPaper" id="MyRawPaper">
		<id column="paper_id" property="paperId" />
		<result column="paper_name" property="paperName" />
		<result column="creater_id" property="createrId" />
		<result column="create_date" property="createDate" />
		<result column="paper_type" property="paperType" />
		<result column="paper_index" property="paperIndex" />
		<result column="singlechoice_question" property="singlechoiceQuestion" />
		<result column="multichoice_question" property="multichoiceQuestion" />
		<result column="fill_question" property="fillQuestion" />
		<result column="subjective_question" property="subjectiveQuestion" />
		<result column="paper_score" property="paperScore" />
		<result column="paper_secrecy" property="paperSecrecy" />
		<result column="paper_remark" property="paperRemark" />
	</resultMap>

	<!-- 教室改密码查询老师学生 -->
	<update id="updateTeacher" parameterType="Teacher">
		update teacher_table 
		<set>
			<if test="teacherPassword!=null and teacherPassword!=''">
				teacher_password = #{teacherPassword},
			</if>
		</set>
		where teacher_id = #{teacherId}
	</update>

	<select id="queryTeacher" parameterType="Teacher" resultMap="MyTeacher">
		select *
		from teacher_table
		<where>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
			<if test="teacherName!=null and teacherName!=''">
				and teacher_name = #{teacherName}
			</if>
			<if test="teacherPassword!=null and teacherPassword!=''">
				and teacher_password = #{teacherPassword}
			</if>
			<if test="teacherAcademy!=null and teacherAcademy!=''">
				and teacher_academy = #{teacherAcademy}
			</if>
			<if test="teacherMajor!=null and teacherMajor!=''">
				and teacher_major = #{teacherMajor}
			</if>
			<if test="teacherSchool!=null and teacherSchool!=''">
				and teacher_school = #{teacherSchool}
			</if>
		</where>
	</select>

	<resultMap type="Teacher" id="MyTeacher">
		<id column="teacher_id" property="teacherId" />
		<result column="teacher_name" property="teacherName" />
		<result column="teacher_password" property="teacherPassword" />
		<result column="teacher_academy" property="teacherAcademy" />
		<result column="teacher_major" property="teacherMajor" />
		<result column="teacher_school" property="teacherSchool" />
	</resultMap>

	<select id="queryStudent" parameterType="Student" resultMap="MyStudent">
		select *
		from student_table
		<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="studentName!=null and studentName!=''">
				and student_name = #{studentName}
			</if>
			<if test="studentPassword!=null and studentPassword!=''">
				and student_password = #{studentPassword}
			</if>
			<if test="studentAcademy!=null and studentAcademy!=''">
				and student_academy = #{studentAcademy}
			</if>
			<if test="studentMajor!=null and studentMajor!=''">
				and student_Major = #{studentMajor}
			</if>
			<if test="studentSchool!=null and studentSchool!=''">
				and student_school = #{studentSchool}
			</if>
		</where>
	</select>

	<resultMap type="Student" id="MyStudent">
		<id column="student_id" property="studentId" />
		<result column="student_name" property="studentName" />
		<result column="student_password" property="studentPassword" />
		<result column="student_academy" property="studentAcademy" />
		<result column="student_major" property="studentMajor" />
		<result column="student_school" property="studentSchool" />
	</resultMap>
	
	<!-- 管理老师 -->
	<select id="queryManageteacher" parameterType="Manageteacher" resultMap="MyManageteacher">
		select * from manageteacher_table where teacher_id = #{teacherId}
	</select>
	<resultMap type="Manageteacher" id="MyManageteacher">
		<result column="class_id" property="classId" />
		<result column="teacher_id" property="teacherId" />
		<result column="course_id" property="courseId" />
		<result column="exam_name" property="examName" />
		<result column="exam_begindate" property="examBegindate" />
		<result column="exam_enddate" property="examEnddate" />
	</resultMap>
	
	<!-- 查询学生答题 -->
	<!-- 学生答题结果管理 -->	
	<select id="queryResult" parameterType="RawResult" resultMap="MyRawResult">
		select *
		from result_table
		<where>
			<if test="studentId!=null and studentId!=''">
				and student_id = #{studentId}
			</if>
			<if test="paperId!=null and paperId!=''">
				and paper_id = #{paperId}
			</if>
			<if test="teacherId!=null and teacherId!=''">
				and teacher_id = #{teacherId}
			</if>
			<if test="checked!=null and checked!=''">
				and checked = #{checked}
			</if>
		</where>
	</select>
	
	<resultMap type="RawResult" id="MyRawResult">
		<result column="student_id" property="studentId"/>
		<result column="paper_id" property="paperId"/>
		<result column="teacher_id" property="teacherId"/>
		<result column="singlechoice_result" property="singlechoiceResult"/>
		<result column="multichoice_result" property="multichoiceResult"/>
		<result column="fill_result" property="fillResult"/>
		<result column="subjective_result" property="subjectiveResult"/>
		<result column="submit_date" property="submitDate"/>
		<result column="checked" property="checked"/>
	</resultMap>
	
	<!-- 管理考试 -->
	<insert id="addExam" parameterType="Exam">
		insert into exam_table(paper_id,creater_id,exam_name,exam_type,pass_score,sum_score,create_date,exam_begin,exam_end,exam_last,exam_remark)
		values(#{paperId},#{createrId},#{examName},#{examType},#{passScore},#{sumScore},#{createDate},#{examBegin},#{examEnd},#{examLast},#{examRemark})
	</insert>
	<select id="queryExam" parameterType="Exam" resultMap="MyExam">
		select *
		from exam_table
		<where>
			<if test="examId!=null and examId!=''">
				and exam_id = #{examId}
			</if>
			<!-- <if test="paperId!=null and paperId!=''">
				and paper_id = #{paperId}
			</if>
			<if test="createrId!=null and createrId!=''">
				and creater_id = #{createrId}
			</if>
			<if test="examName!=null and examName!=''">
				and exam_name = #{examName}
			</if>
			<if test="examType!=null and examType!=''">
				and exam_type = #{examType}
			</if>
			<if test="createDate!=null and createDate!=''">
				and create_date = #{createDate}
			</if>
			<if test="examRemark!=null and examRemark!=''">
				and exam_remark = #{examRemark}
			</if> -->
		</where>
	</select>
	
	<resultMap type="Exam" id="MyExam">
		<id column="exam_id" property="examId"/>
		<result column="paper_id" property="paperId"/>
		<result column="creater_id" property="createrId"/>
		<result column="exam_name" property="examName"/>
		<result column="exam_type" property="examType"/>
		<result column="pass_score" property="passScore"/>
		<result column="sum_score" property="sumScore"/>
		<result column="create_date" property="createDate"/>
		<result column="exam_begin" property="examBegin"/>
		<result column="exam_end" property="examEnd"/>
		<result column="exam_last" property="examLast"/>
		<result column="exam_remark" property="examRemark"/>
	</resultMap>
	
</mapper>